body {
  margin: 0;
  height: 100vh;
  background-color: white;
  font-family: monospace;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin: 0;
  font-size: inherit;
  margin-left: 1em;
}

.new-game {
  border: 1px solid black;
  padding: 0.2em;
  cursor: pointer;
}

.menu {
  width: 100%;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel, .group {
  padding: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.grid {
  background-color: darkslategray;
  border: 2px solid black;
  display: grid;
  gap: 1px;
}

.small {
  grid-template-columns: repeat(10, 2rem);
}

.medium {
  grid-template-columns: repeat(15, 2rem);
}

.large {
  grid-template-columns: repeat(25, 1.5rem);
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  .small {
    grid-template-columns: repeat(10, 44px);
  }

  .medium {
    grid-template-columns: repeat(15, 30px);
  }

  .large {
    grid-template-columns: repeat(25, 18px);
  } 
}

.btn {
  aspect-ratio: 1;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.color-1 {
  color: blue;
}

.color-2 {
  color: green;
}

.color-3 {
  color: red;
}

.color-4 {
  color: purple;
}

.color-5 {
  color: maroon;
}

.color-6 {
  color: turquoise;
}

.color-7 {
  color: black;
}

.color-8 {
  color: gray;
}

.alert {
  padding: 1em;
  color: white;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 5px white, 0 0 0 15px black;
  font-size: 1.2rem;
  font-weight: bold;
}

.flag {
  background-image: url('./assets/icons/flag.svg');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.mine {
  background-image: url('./assets/icons/mine.svg');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.suspect {
  background-image: url('./assets/icons/question.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}